<!DOCTYPE html>
 <html lang="es-ES">
   <head>
     <% include ../templates/head %>
   </head>

   <body>
     <header>
       <% include ../templates/header %>
     </header>

     <main class= 'container'>
       <div class="row">
         <div class="col s12">
           <div class="card">
             <div class="card-content">

             </div>
           </div>
         </div>
       </div>
     </main>

     <footer class="page-footer  teal accent-4">
       <% include ../templates/footer %>
     </footer>

     <% include ../templates/scripts %>

   </body>
 </html>
