<div class="blue-grey lighten-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text" id="about">Quienes Somos</h5>
        <p class="grey-text text-lighten-4">
          Somos una tienda dedicada a la venta de ropa por catalogo.
          Somos líderes en innovación y ofrecemos una opción diferente para mujeres y hombres cómo tú..
          En nnuestra empresa, el cliente es el centro de nuestro particular modelo de negocio,
          mismo que integra diseño, fabricación, distribución y venta, a través de una amplia red de tiendas propia.
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Sección</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Universo Ejecutivo</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Universo Caballeros</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Universo Niños</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Universo Moda</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Universo Playa</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Universo Deportivo</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Universo Calzado</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright blue-grey lighten-1">
    <div class="container">
      © 2014 Copyright
    </div>
  </div>
</div>
