<nav>
  <div class="nav-wrapper blue-grey">
    <a href="/" class="brand-logo"><i class="material-icons">emoji_nature</i>Terry</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <%if (obj_datos){%>
        <li><%= obj_datos.nombre %> <%= obj_datos.apellido %></li>
        <li><a href="/users/logout" class="hoverable">SALIR</a></li>
      <%}else{%>
        <li><a href="/users/nuevo" class="white-text hoverable" ><b>REGISTRARSE</b></a></li>
        <li><a href="/users/login" class="white-text hoverable" ><b>INICIAR SESIÓN</b></a></li>
      <%}%>
    </ul>
  </div>
</nav>
