<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>
<link rel="icon" type="image/jpg" href="/producto.ico">
<!--Let browser know website is optimized for mobile-->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="application-name" content="Catalogo de Productos">
<meta name="author" content="Raquel Espinosa">
<meta name="description" content="Venta de ropa por catalogo. Somos líderes en innovación y ofrecemos una opción diferente para mujeres y hombres cómo tú.">
<meta name="keywords" content="productos, ropa">
<title><%= title %></title>
