<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
<script type="text/javascript">
  <% if (alert && alert!='') { %>
     M.toast({html: '<%= alert  %>'})
  <% } %>
</script>
