<!DOCTYPE html>
<html lang="es-ES">
<head>
  <% include ../templates/head %>
</head>

<body>
  <header>
    <% include ../templates/header %>
  </header>

  <main class= 'container'>
    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-content">
            <a href="/categoria/nuevo" class="waves-effect waves-light btn-large pink accent-2 hoverable"><i class="material-icons left">add_circle</i>AGREGAR</a>
            <table class="striped" id="id_tabla">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Descripcion</th>
                  <th>Imagen</th>
                  <th>Opciones</th>
                </tr>
              </thead>

              <tbody>
                <% lista.forEach(categoria =>{ %>
                  <tr>
                    <td style="width:5%;"><%= categoria.nombre %></td>
                    <td style="width:5%;"><%= categoria.descripcion %></td>
                    <td style="width:5%;">
                        <%if(categoria.imagen){%>
                        <img class="responsive-img"  style="width:20%;" src="<%= categoria.imagen %>" alt="<%= categoria.nombre %>">
                        <%}%>
                   </td>
                    <td style="width:5%;" >
                      <a href="/categoria/editar_vista/<%= categoria._id %>" class="teal-text"><i class="material-icons left">create</i></a>
                      <a href="" onclick="eliminar('<%= categoria._id %>')" class="teal-text"><i class="material-icons left">delete_forever</i></a>
                      <a href="" onclick="visualizar('<%= categoria._id %>')" class="teal-text"><i class="material-icons left" id="id_visualizar<%= categoria._id %>"><% if(categoria.estado){%>visibility_off<% }else{ %>visibility<% } %></i></a>
                    </td>
                  </tr>

                  <% }); %>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer class="">
      <% include ../templates/footer %>
    </footer>

    <% include ../templates/scripts %>
    <script type="text/javascript" src="/javascripts/jquery-3.5.0.min.js"></script>
    <script type="text/javascript">
    function eliminar(id_categoria){
      $.ajax( "/categoria/eliminar/" + id_categoria )
      .done(function(datos) {
        if (datos.respuesta) {

          var tabla = '';
           datos.respuesta.forEach(categoria =>{
            var icono = '';
            if(categoria.estado){
              icono = 'visibility_off';
            }else{
              icono = 'visibility';
            }
            tabla +='<tr>' +
              '<td style="width:5%;">'+categoria.nombre+'</td>' +
              '<td style="width:5%;">'+categoria.descripcion+'</td>' +
              '<td style="width:5%;"> <img class="responsive-img" style="width:20%;" src="'+categoria.imagen+'" alt=""> </td>' +
              '<td style="width:5%;">' +
                '<a href="/categoria/editar_vista/'+categoria._id +'" class="green-text"><i class="material-icons left">create</i></a>' +
              '  <a href="" onclick="eliminar('+ categoria._id+')" class="green-text"><i class="material-icons left">delete_forever</i></a>' +
                '<a href="" onclick="visualizar('+ categoria._id+')" class="green-text"><i class="material-icons left" id="id_visualizar'+categoria._id+'">'+icono+'</i></a>' +
            '  </td>' +
            '</tr>';

             });

          $('#id_tabla tbody').html(tabla);
            M.toast({html: datos.mensaje})
        }else {
          M.toast({html: datos.mensaje})
        }
      })
      .fail(function() {
          M.toast({html: 'Ocurrió un error'})
      });
    }
    function visualizar(id_categoria){
      $.ajax( "/categoria/dar_baja/" + id_categoria )
      .done(function(datos) {
        if (datos.respuesta) {
          var icono = '';
          if(datos.respuesta.estado){
            icono = 'visibility_off';
          }else{
            icono = 'visibility';
          }
          M.toast({html: datos.mensaje})
          $('#id_visualizar' + id_categoria).html(icono);
        }else {
          M.toast({html: datos.mensaje})
        }
      })
      .fail(function() {
          M.toast({html: 'Ocurrió un error'})
      });
    }

    </script>
  </body>
  </html>
