
<!DOCTYPE html>
<html lang="es-ES">
<head>
  <% include ../templates/head %>
</head>

<body>
  <header>
    <% include ../templates/header %>
  </header>

  <main class= 'container'>
    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-content">
            <div class="row">
              <form class="col s12"  enctype="multipart/form-data" action="<% if(categoria){%>/categoria/editar_bd/<%= categoria._id %><% }else{ %>/categoria/crear<% } %>" method="POST">
                <div class="row">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">add_shopping_cart</i>
                    <input id="id_nombre" type="text" class="validate" required name="nombre" <% if(categoria){%> value='<%= categoria.nombre %>' <%}%> >
                    <label for="id_nombre">Nombre</label>
                  </div>
                  <div class="input-field col s12">
                    <i class="material-icons prefix">chat</i>
                    <textarea id="id_descripcion" class="materialize-textarea" required name = "descripcion"><% if(categoria){%><%= categoria.descripcion %><%}%></textarea>
                    <label for="id_descripcion">Descripcion</label>
                  </div>
                  <div class="file-field input-field col s12">
                    <div class="btn">
                      <span>File</span>
                      <input type="file" name="imagen" <% if(!categoria){%>required<%}%>>
                    </div>
                    <div class="file-path-wrapper">
                      <input class="file-path validate" type="text">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col s6 center-align">
                      <a href="/categoria/lista" class="waves-effect waves-light btn-large red darken-1 hoverable"><i class="material-icons left">cancel</i>CANCELAR</a>
                    </div>
                    <div class="col s6 center-align">
                      <button type="submit" class="waves-effect waves-light btn-large hoverable"><i class="material-icons left">send</i>ENVIAR</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer class="">
    <% include ../templates/footer %>
  </footer>

  <% include ../templates/scripts %>

</body>
</html>
