<!DOCTYPE html>
<html lang="es-ES">
<head>
  <% include ../templates/head %>
</head>
<body>
  <header>
    <% include ../templates/header %>
  </header>

  <main class= 'container'>
    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-image">
            <img src="images/img6.jpg">
            <div class="section no-pad-bot" id="index-banner">
              <div class="container">
                <br><br>
                <h1 class="header center orange-text">Catálogo de Productos</h1>
                <div class="row center">
                  <h5 class="header col s12 light">Mantenemos inventario permanente de venta de ropa por catalogo.</h5>
                </div>
                <div class="row center">
                  <a href="/lista" id="download-button" class="waves-effect waves-light btn-large">CATÁLOGO</a>
                </div>
                <div class="parallax"><img src="images\prueba.jpg"></div>
                <br><br>

              </div>
            </div>

            <div class="container">
              <div class="section">

                <!--   Icon Section   -->
                <div class="row">
                  <div class="col s12 m4">
                    <div class="icon-block">
                      <h2 class="center light-blue-text"><i class="material-icons">face</i></h2>
                      <h5 class="center">Damas</h5>

                      <p class="light">Tenemos todo tipo de prendas de vestir para damas. Ofrecemos variedad de tallas, modelos y diseños exclusivos.</p>
                    </div>
                  </div>

                  <div class="col s12 m4">
                    <div class="icon-block">
                      <h2 class="center light-blue-text"><i class="material-icons">child_care</i></h2>
                      <h5 class="center">Niños</h5>

                      <p class="light">Conoce las últimas tendencias en moda para niños. Nuevas prendas y accesorios cada semana en Terry online.</p>
                    </div>
                  </div>

                  <div class="col s12 m4">
                    <div class="icon-block">
                      <h2 class="center light-blue-text"><i class="material-icons">sentiment_dissatisfied</i></h2>
                      <h5 class="center">Caballeros</h5>

                      <p class="light">Contamos con un amplio stock en prendas de vestir para caballeros. Ofrecemos variedad de tallas, modelos y diseños exclusivos.</p>
                    </div>
                  </div>
                </div>

              </div>
              <br><br>
            </div>

          </div>
        </div>
      </div>
    </div>
  </main>

  <footer class="">
    <% include ../templates/footer %>
  </footer>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

</body>
</html>
