<!DOCTYPE html>
<html lang="es-ES">
<head>
  <% include ../templates/head %>
</head>

<body>
  <header>
    <% include ../templates/header %>
  </header>

  <main class= 'container'>
    <div class="row">
      <div class="grid-example col s12 center">
        <div class="card">
          <div class="card-content">
            <h5 class="center"><strong><i>CATÁLOGO DE PRODUCTOS</i></strong></h5>
            <br>
            <h6 class="left"><strong><i>CATEGORÍAS</i></strong></h6>
            <br>
            <select name="categoria" onchange="filtrar(this.value)">
              <option value="" selected>Todos</option>
              <%for(var i=0; i<categoria.length; i++){%>
                <option data-icon="<%=categoria[i].imagen%>" value="<%=categoria[i]._id%>"><%=categoria[i].nombre%></option>
              <%}%>
            </select>
            <div class="row">
              <% lista.forEach(producto =>{ %>
                <div class="card col s4 <%if(producto.categoria){%><%= producto.categoria._id %><%}%> show_producto">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="<%= producto.imagen %>">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4"><%= producto.nombre %><i class="material-icons right">more_vert</i></span>
                    <p><a href="#">Comprar</a></p>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><%= producto.nombre %><i class="material-icons right">close</i></span>
                    <p>
                      <b><%if(producto.categoria){%><%= producto.categoria.nombre %><%}%></b>
                      <br>
                      <b>Precio: </b>$ <%= producto.precio %>
                      <br>
                      <b>Stock: </b><%= producto.stock %>
                      <br>
                      <b>Descripcion: </b><%= producto.descripcion %>
                    </p>
                  </div>
                </div>

                <% }); %>

            </div>

            <br><br>
            
              <br>
              <div class="">
                <a href="/" class="waves-effect waves-light btn-large pink accent-2 hoverable"><i class="material-icons right"></i>VOLVER</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer class="">
      <% include ../templates/footer %>
    </footer>

    <% include ../templates/scripts %>

    <script type="text/javascript" src="/javascripts/jquery-3.5.0.min.js"></script>
    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, {});
      });
    </script>

    <script type="text/javascript">

    var filtrar =  function(categoria){
      var show_producto =  document.getElementsByClassName('show_producto');
      if (categoria == '') {
        for (var i = 0; i < show_producto.length; i++) {
          show_producto[i].style.display = '';
        }
      }else {
        var celda = document.getElementsByClassName(categoria);
        for (var j = 0; j < show_producto.length; j++) {
          show_producto[j].style.display = 'none';
          if (show_producto[j].className.includes(categoria)) {
            show_producto[j].style.display = '';
          }
        }

      }
    }

    </script>
  </body>
  </html>
