<!DOCTYPE html>
<html lang="es-ES">
<head>
  <% include ../templates/head %>
</head>

<body>
  <header>
    <% include ../templates/header %>
  </header>

  <main class= 'container'>
    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-content">
            <a href="/nuevo" class="waves-effect waves-light btn-large pink accent-2 hoverable"><i class="material-icons left">add_circle</i>AGREGAR</a>
            <table class="striped" id="id_tabla">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Precio</th>
                  <th>Stock</th>
                  <th>Descripcion</th>
                  <th>Imagen</th>
                  <th>Categoría</th>
                  <th>Opciones</th>
                </tr>
              </thead>

              <tbody>
                <% lista.forEach(producto =>{ %>
                  <tr>
                    <td style="width:5%;"><%= producto.nombre %></td>
                    <td style="width:5%;">$ <%= producto.precio %></td>
                    <td style="width:5%;"><%= producto.stock %></td>
                    <td style="width:5%;"><%= producto.descripcion %></td>
                    <td>
                      <%if(producto.imagen){%>
                      <img class="responsive-img"  style="width:20%;" src="<%= producto.imagen %>" alt="<%= producto.nombre %>">
                      <%}%>
                    </td>

                    <td style="width:5%;"><%if(producto.categoria){%><%= producto.categoria.nombre %><%}%></td>
                    <td style="width:5%;">
                      <a href="/editar_vista/<%= producto._id %>" class="teal-text"><i class="material-icons left">create</i></a>
                      <a href="#" onclick="eliminar('<%= producto._id %>')" class="teal-text"><i class="material-icons left">delete_forever</i></a>
                      <a href="#" onclick="visualizar('<%= producto._id %>')" class="teal-text"><i class="material-icons left" id="id_visualizar<%= producto._id %>"><% if(producto.estado){%>visibility_off<% }else{ %>visibility<% } %></i></a>
                    </td>
                  </tr>

                  <% }); %>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer class="">
      <% include ../templates/footer %>
    </footer>

    <% include ../templates/scripts %>
    <script type="text/javascript" src="/javascripts/jquery-3.5.0.min.js"></script>
    <script type="text/javascript">
    function eliminar(id_producto){
      $.ajax( "/eliminar/" + id_producto )
      .done(function(datos) {
        if (datos.respuesta) {

          var tabla = '';
           datos.respuesta.forEach(producto =>{
            var icono = '';
            if(producto.estado){
              icono = 'visibility_off';
            }else{
              icono = 'visibility';
            }
            var categoria = '';
            if(producto.categoria){
                categoria = producto.categoria.nombre;
            }
            tabla +='<tr>' +
              '<td>'+producto.nombre+'</td>' +
              '<td>$'+producto.precio+'</td>' +
              '<td>'+producto.stock+'</td>' +
              '<td>'+producto.descripcion+'</td>' +
              '<td>'+categoria+'</td>' +
              '<td >' +
                '<a href="/editar_vista/'+producto._id +'" class="green-text"><i class="material-icons left">create</i></a>' +
              '  <a href="#" onclick="eliminar('+ producto._id+')" class="green-text"><i class="material-icons left">delete_forever</i></a>' +
                '<a href="#" onclick="visualizar('+ producto._id+')" class="green-text"><i class="material-icons left" id="id_visualizar'+producto._id+'">'+icono+'</i></a>' +
            '  </td>' +
            '</tr>';

             });

          $('#id_tabla tbody').html(tabla);
            M.toast({html: datos.mensaje})
        }else {
          M.toast({html: datos.mensaje})
        }
      })
      .fail(function() {
          M.toast({html: 'Ocurrió un error'})
      });
    }
    function visualizar(id_producto){
      $.ajax( "/dar_baja/" + id_producto )
      .done(function(datos) {
        if (datos.respuesta) {
          var icono = '';
          if(datos.respuesta.estado){
            icono = 'visibility_off';
          }else{
            icono = 'visibility';
          }
          M.toast({html: datos.mensaje})
          $('#id_visualizar' + id_producto).html(icono);
        }else {
          M.toast({html: datos.mensaje})
        }
      })
      .fail(function() {
          M.toast({html: 'Ocurrió un error'})
      });
    }

    </script>
  </body>
  </html>
