
<!DOCTYPE html>
<html lang="es-ES">
<head>
  <% include ../templates/head %>
</head>

<body>
  <header>
    <% include ../templates/header %>
  </header>

  <main class= 'container'>
    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-content">
            <div class="row">
              <form enctype="multipart/form-data" class="col s12" action="<% if(producto){%>/editar_bd/<%= producto._id %><% }else{ %>/crear<% } %>" method="POST">
                <div class="row">
                  <div class="input-field col s12">
                    <select name="categoria">
                      <option value="" <% if(!producto){%>disabled selected<% } %> >Choose your option</option>
                      <%for(var i=0; i<categoria.length; i++){%>
                        <option value="<%=categoria[i]._id%>" <% if(producto && String(producto.categoria) == String(categoria[i]._id)){%>selected<% } %>><%=categoria[i].nombre%></option>
                      <%}%>
                    </select>
                    <label>Seleccione la Categoría</label>
                  </div>
                  <div class="input-field col s12">
                    <i class="material-icons prefix">add_shopping_cart</i>
                    <input id="id_nombre" type="text" class="validate" required name="nombre" <% if(producto){%> value='<%= producto.nombre %>' <%}%> >
                    <label for="id_nombre">Nombre</label>
                  </div>
                  <div class="input-field col s12">
                    <i class="material-icons prefix">attach_money</i>
                    <input id="id_precio" type="tel" class="validate" required name ="precio"<% if(producto){%> value='<%= producto.precio %>' <%}%> >
                    <label for="id_precio">Precio</label>
                  </div>
                  <div class="input-field col s12">
                    <i class="material-icons prefix">filter_9_plus</i>
                    <input id="id_stock" type="tel" class="validate" required name ="stock" <% if(producto){%> value='<%= producto.stock %>' <%}%>>
                    <label for="id_stock">Stock</label>
                  </div>
                  <div class="input-field col s12">
                    <i class="material-icons prefix">chat</i>
                    <textarea id="id_descripcion" class="materialize-textarea" name = "descripcion"><% if(producto){%><%= producto.descripcion %><%}%></textarea>
                    <label for="id_descripcion">Descripcion</label>
                  </div>
                  <div class="file-field input-field col s12">
                    <div class="btn">
                      <span>File</span>
                      <input type="file" name="imagen" <% if(!producto){%>required<%}%>>
                    </div>
                    <div class="file-path-wrapper">
                      <input class="file-path validate" type="text">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col s6 center-align">
                      <a href="/lista" class="waves-effect waves-light btn-large red darken-1 hoverable"><i class="material-icons left">cancel</i>CANCELAR</a>
                    </div>
                    <div class="col s6 center-align">
                      <button type="submit" class="waves-effect waves-light btn-large hoverable"><i class="material-icons left">send</i>ENVIAR</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer class="">
    <% include ../templates/footer %>
  </footer>

  <% include ../templates/scripts %>
  <script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, {});
  });
  </script>

</body>
</html>
