<!DOCTYPE html>
<html lang="es-ES">
<head>
  <% include ../templates/head %>
</head>
<body>
  <header>
    <% include ../templates/header %>
  </header>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center red-text text-lighten-2">Catálogo de Productos</h1>
        <div class="row center">
          <h5 class="header col s12 light white-text">Mantenemos inventario permanente de venta de ropa por catalogo.</h5>
        </div>
        <div class="row center">
          <a href="/catalogo" id="download-button" class="btn-large waves-effect waves-light pink accent-3 hoverable">CATÁLOGO</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="/images/prueba.jpg" alt="Unsplashed background img 1"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">face</i></h2>
            <h5 class="center">Damas</h5>

            <p class="light">Tenemos todo tipo de prendas de vestir para damas. Ofrecemos variedad de tallas, modelos y diseños exclusivos.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">child_care</i></h2>
            <h5 class="center">Niños</h5>

            <p class="light">Conoce las últimas tendencias en moda para niños. Nuevas prendas y accesorios cada semana en Terry online.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">sentiment_dissatisfied</i></h2>
            <h5 class="center">Caballeros</h5>

            <p class="light">Contamos con un amplio stock en prendas de vestir para caballeros. Ofrecemos variedad de tallas, modelos y diseños exclusivos.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light light red-text">Contamos con los mejores diseños para ti!</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/images/img8.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contáctanos!</h4>
          <p class="center-align light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>

    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="parallax"><img src="/images/img7.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="">
    <% include ../templates/footer %>
  </footer>
  <!--  Scripts-->
  <% include ../templates/scripts %>

  </template>%>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/parallax-template/js/materialize.js"></script>
  <script src="/parallax-template/js/init.js"></script>


</body>
</html>
