<!DOCTYPE html>
<html lang="es-ES">
<head>
  <% include ../templates/head %>
</head>

<body>
  <header>
    <% include ../templates/header %>
  </header>

  <main class= 'container'>
    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-content">
            <a href="/users/nuevo" class="waves-effect waves-light btn-large pink accent-2"><i class="material-icons left">add_circle</i>AGREGAR</a>
            <table class="striped highlight" id="id_tabla">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>Cédula</th>
                  <th>Correo</th>
                  <th>Dirección</th>
                  <th>Fecha de Nacimiento</th>
                  <th>Edad</th>
                  <th>Contraseña</th>
                  <th>Opciones</th>
                </tr>
              </thead>

              <tbody>
                <% lista.forEach(usuario =>{ %>
                  <tr>
                    <td><%= usuario.nombre %></td>
                    <td><%= usuario.apellido %></td>
                    <td><%= usuario.cedula %></td>
                    <td><%= usuario.correo %></td>
                    <td><%= usuario.direccion %></td>
                    <td>
                      <script type="text/javascript">
                      var fecha = new Date('<%= usuario.fecha_nacimiento %>');
                      var anio = fecha.getFullYear();
                      var mes = fecha.getMonth() + 1;
                      mes = (mes < 10 ? '0' : '') + mes;
                      var dia = fecha.getDate();
                      dia = (dia < 10 ? '0' : '') + dia;
                      var horas = fecha.getHours();
                      horas = (horas < 10 ? '0' : '') + horas;
                      var minutos = fecha.getMinutes();
                      minutos = (minutos < 10 ? '0' : '') + minutos;
                      var segundos = fecha.getSeconds();
                      segundos = (segundos < 10 ? '0' : '') + segundos;
                      document.write(anio + '/' + mes + '/' + dia);
                    </script>
                  </td>
                  <td><%= usuario.edad %></td>
                  <td><%= usuario.contrasena %></td>
                  <td >
                    <a href="/users/editar_vista/<%= usuario._id %>" class="teal-text"><i class="material-icons">create</i></a>
                    <a href="#" onclick="eliminar('<%= usuario._id %>')" class="teal-text"><i class="material-icons">delete_forever</i></a>
                    <a href="#" onclick="visualizar('<%= usuario._id %>')" class="teal-text"><i class="material-icons" id="id_visualizar<%= usuario._id %>"><% if(usuario.estado){%>visibility_off<% }else{ %>visibility<% } %></i></a>
                  </td>
                </tr>

                <% }); %>

              </tbody>
            </table>
            <div class="right-align">
              <br>
              <a href="/" class="waves-effect waves-light btn-large pink accent-2"><i class="material-icons left">keyboard_return</i>VOLVER</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer class="">
    <% include ../templates/footer %>
  </footer>

  <% include ../templates/scripts %>
  <script type="text/javascript" src="/javascripts/jquery-3.5.0.min.js"></script>
  <script type="text/javascript">
    function eliminar(id_usuario){
      $.ajax( "/users/eliminar/" + id_usuario )
      .done(function(datos) {
        if (datos.respuesta) {

          var tabla = '';
          datos.respuesta.forEach(usuario =>{
            var icono = '';
            if(usuario.estado){
              icono = 'visibility_off';
            }else{
              icono = 'visibility';
            }
            tabla +='<tr>' +
              '<td>'+usuario.nombre+'</td>' +
              '<td>'+usuario.apellido+'</td>' +
              '<td>'+usuario.cedula+'</td>' +
              '<td>'+usuario.correo+'</td>' +
              '<td>'+usuario.direccion+'</td>' +
              '<td>'+usuario.fecha_nacimiento+'</td>' +
              '<td>'+usuario.edad+'</td>' +
              '<td>'+usuario.contrasena+'</td>' +
              '<td >' +
                '<a href="/users/editar_vista/'+usuario._id +'" class="green-text"><i class="material-icons">create</i></a>' +
                '<a href="#" onclick="eliminar('+ usuario._id+')" class="green-text"><i class="material-icons">delete_forever</i></a>' +
                '<a href="#" onclick="visualizar('+ usuario._id+')" class="green-text"><i class="material-icons" id="id_visualizar'+usuario._id+'">'+icono+'</i></a>' +
                '</td>' +
                '</tr>';

              });

              $('#id_tabla tbody').html(tabla);
              M.toast({html: datos.mensaje})
            }else {
              M.toast({html: datos.mensaje})
            }
          })
          .fail(function() {
            M.toast({html: 'Ocurrió un error'})
          });
        }
        function visualizar(id_usuario){
          $.ajax( "/users/dar_baja/" + id_usuario )
          .done(function(datos) {
            if (datos.respuesta) {
              var icono = '';
              if(datos.respuesta.estado){
                icono = 'visibility_off';
              }else{
                icono = 'visibility';
              }
              M.toast({html: datos.mensaje})
              $('#id_visualizar' + id_usuario).html(icono);
            }else {
              M.toast({html: datos.mensaje})
            }
          })
          .fail(function() {
            M.toast({html: 'Ocurrió un error'})
          });
        }

      </script>
    </body>
    </html>
