<!DOCTYPE html>
<html lang="es-ES">
<head>
  <% include ../templates/head %>
</head>

<body>
  <header>
    <% include ../templates/header %>
  </header>

  <main class= 'container'>
    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-content hoverable">
            <div class="row">
              <form class="col s12" action="/users/auth" method="POST">
                <div class="row">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="id_usuario" type="email" class="validate" name="usuario" required>
                    <label for="id_usuario">Usuario</label>
                  </div>
                  <div class="input-field col s12">
                    <i class="material-icons prefix">vpn_key</i>
                    <input id="id_contrasena" type="password" class="validate" name ="contrasena" required>
                    <label for="id_contrasena">Contraseña</label>
                  </div>
                  <div class="row">
                    <div class="col s6 center-align">
                      <a href="/" class="waves-effect waves-light btn-large red darken-1 hoverable"><i class="material-icons left">cancel</i>CANCELAR</a>
                    </div>
                    <div class="col s6 center-align">
                      <button type="submit" class="waves-effect waves-light btn-large hoverable"><i class="material-icons left">send</i>ENVIAR</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer class="">
    <% include ../templates/footer %>
  </footer>

  <% include ../templates/scripts %>

</body>
</html>
