<!DOCTYPE html>
<html lang="es-ES">
<head>
  <% include ../templates/head %>
</head>

<body>
  <header>
    <% include ../templates/header %>
  </header>

  <main class= 'container'>
    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-content">
            <div class="row">
              <form onsubmit="return validar()" class="col s12" action="<% if(usuario){%>/users/editar_bd/<%= usuario._id %><% }else{ %>/users/crear<% } %>" method="POST">
                <div class="row">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">assignment_ind</i>
                    <input id="id_nombre" type="text" class="validate" pattern="[a-zA-Z]+" name="nombre" required <% if(usuario){%> value='<%= usuario.nombre %>' <%}%> >
                    <label for="id_nombre">Nombre</label>
                  </div>
                  <div class="input-field col s12">
                    <i class="material-icons prefix">assignment_ind</i>
                    <input id="id_apellido" type="text" class="validate" pattern="[a-zA-Z]+" name ="apellido" required <% if(usuario){%> value='<%= usuario.apellido %>' <%}%> >
                    <label for="id_apellido">Apellido</label>
                  </div>
                  <div class="input-field col s12">
                    <i class="material-icons prefix">chrome_reader_mode</i>
                    <input onblur="validar()" id="id_cedula" type="tel" pattern="[0-9]{10}" class="validate" name ="cedula" required <% if(usuario){%> value='<%= usuario.cedula %>' <%}%>>
                    <label for="id_cedula">Cédula</label>
                  </div>
                  <div class="input-field col s12">
                    <i class="material-icons prefix">mail</i>
                    <input id="id_correo" type="email" class="validate" name ="correo" required <% if(usuario){%> value='<%= usuario.correo %>' <%}%>>
                    <label for="id_correo">Correo</label>
                  </div>
                  <div class="input-field col s12">
                    <i class="material-icons prefix">location_on</i>
                    <input id="id_direccion" type="text" class="validate" name ="direccion" required <% if(usuario){%> value='<%= usuario.direccion %>' <%}%>>
                    <label for="id_direccion">Dirección</label>
                  </div>
                  <div class="input-field col s12">
                    <i class="material-icons prefix">event_available</i>
                    <input id="id_fecha_nacimiento" pattern="[0-9]{4}([\-/.])(0?[1-9]|1[1-2])\1(3[01]|[12][0-9]|0?[1-9])" class="datepicker" type="tel" class="validate" name ="fecha_nacimiento" required <% if(usuario){%> value='<%= usuario.fecha_nacimiento %>' <%}%>>
                    <label for="id_fecha_nacimiento">Fecha de Nacimiento</label>
                  </div>
                  <div class="input-field col s12">
                    <i class="material-icons prefix">event_busy</i>
                    <input id="id_edad" type="number" class="validate" pattern="[0-9]{3}" name ="edad" required <% if(usuario){%> value='<%= usuario.edad %>' <%}%>>
                    <label for="id_edad">Edad</label>
                  </div>
                  <div class="input-field col s12">
                    <i class="material-icons prefix">vpn_key</i>
                    <input id="id_contrasena" type="password" class="validate" name ="contrasena" required <% if(usuario){%> value='<%= usuario.contrasena %>' <%}%>>
                    <label for="id_contrasena">Contraseña</label>
                  </div>

                  <div class="row">
                    <div class="col s6 center-align">
                      <a href="/" class="waves-effect waves-light btn-large red darken-1 "><i class="material-icons left">cancel</i>CANCELAR</a>
                    </div>
                    <div class="col s6 center-align">
                      <button type="submit" class="waves-effect waves-light btn-large "><i class="material-icons left">send</i>ENVIAR</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer class="">
    <% include ../templates/footer %>
  </footer>

  <% include ../templates/scripts %>
  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.datepicker');
      var instances = M.Datepicker.init(elems, {
        <% if(usuario){%>
          defaultDate: new Date('<%= usuario.fecha_nacimiento %>'),
          setDefaultDate: true,
          <%}%>
          format:'yyyy-mm-dd',
          onClose: function(){
            document.getElementById('id_edad').value = Edad(document.getElementById('id_fecha_nacimiento').value);
            M.updateTextFields();
          }
        });
      });

      function Edad(FechaNacimiento) {

        var fechaNace = new Date(FechaNacimiento);
        var fechaActual = new Date()

        var mes = fechaActual.getMonth();
        var dia = fechaActual.getDate();
        var año = fechaActual.getFullYear();

        fechaActual.setDate(dia);
        fechaActual.setMonth(mes);
        fechaActual.setFullYear(año);

        edad = Math.floor(((fechaActual - fechaNace) / (1000 * 60 * 60 * 24) / 365));

        return edad;
      }
    </script>
    <script type="text/javascript">
      function validar() {
        var element = document.getElementById("id_cedula");
        var cad = element.value.trim();
        var total = 0;
        var longitud = cad.length;
        var longcheck = longitud - 1;

        if (cad !== "" && longitud === 10){
          for(i = 0; i < longcheck; i++){
            if (i%2 === 0) {
              var aux = cad.charAt(i) * 2;
              if (aux > 9) aux -= 9;
              total += aux;
            } else {
              total += parseInt(cad.charAt(i)); // parseInt o concatenará en lugar de sumar
            }
          }

          total = total % 10 ? 10 - total % 10 : 0;

          if (cad.charAt(longitud-1) == total) {
            console.log('Cédula correcta!');
            return true;
          }else{
            console.log('Cédula incorrecta!');
            M.toast({html: 'Cédula Inválida!'})
            element.addEventListener("input", function (event) {
              if (element.validity.typeMismatch) {
                element.setCustomValidity("Cédula incorrecta!");
              } else {
                element.setCustomValidity("");
              }
            });
            return false;
          }
        }
      }
    </script>

  </body>
  </html>
